@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #eef2f5;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evita scroll innecesario */
}

.sidebar {
    border: 1px solid #5bbec0;
    background-color: #5bbec0;
    width: 300px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: 1000;
}

.imagixicon {
  margin-top: 10px; 
  margin-bottom: 0;   
}

.imagixicon img {
  width: 100%;                
  height: auto;           
  border-radius: 10px;     
  object-fit: contain;      
}

.card-client {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Para centrar verticalmente la imagen y el texto */
    text-align: center;
    color: #fff; /* Color del texto */
    gap: 5px;
}

/* Ajuste del ancho mínimo en estado contraído */
.menu-toggle:checked ~ .sidebar {
    width: 180px; /* Ancho mayor para la barra lateral contraída */
}

.menu-toggle:checked ~ .sidebar .name-client {
    display: block; /* Asegura que no se oculte el nombre */
    opacity: 1;
    font-size: 14px; /* Escala el tamaño en modo reducido */
}


/* Logo */
.logo {
    margin-top: 40px; /* Reducción de espacio superior */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 90px;
    height: auto;
    transition: all 0.3s ease;
}

.menu-toggle:checked ~ .sidebar .name-client {
    font-size: 16px;
    text-align: center;
    transform: translateX(0); /* Centrado en la vista reducida */
}

.menu-toggle:checked ~ .sidebar .logo img {
    width: 100px;
}

/* Navigation */
nav {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, transform 0.2s;
    padding: 10px;
    border-radius: 8px;
    width: 100%; /* Asegura que el enlace ocupe todo el ancho */
}

nav ul li a img.nav-icon {
    width: 40px;
    height: 40px;
}

nav ul li a:hover {
    background-color: #c9ddb1;
    transform: scale(1.1);
}


.name-client {
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word; /* Para nombres largos */
    max-width: 90%; /* Ajusta el ancho máximo del texto */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

/* Perfil */
.card-client {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
}

.user-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-picture svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.name-client {
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word; /* Para nombres largos */
    max-width: 90%; /* Ajusta el ancho máximo del texto */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Logout Button */
.logout {
    background-color: #1c7ed6; /* Azul atractivo */
    width: 200px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.2s, width 0.3s, height 0.3s, border-radius 0.3s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.logout img.logout-icon {
    width: 30px;
    height: 30px;
    transition: width 0.3s, height 0.3s;
    margin: auto;
}

.logout:hover {
    background-color: #1971c2;
    transform: scale(1.05);
}

.logout:active {
    transform: scale(0.95);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.logout img {
    width: 25px;
    height: 25px;
    margin-left: 0px; /* Ajustar espacio entre el ícono y el texto */
}

.logout .text {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.menu-toggle:checked ~ .sidebar .logout {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
}

.menu-toggle:checked ~ .sidebar .logout .text {
    display: none;
}

/* Main Content */
.main-content {
    margin-left: 220px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    transition: margin-left 0.3s ease;
    padding: 20px;
}

.menu-toggle:checked ~ .main-content {
    margin-left: 320px;
}

/* Toggle Button */
.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

.menu-icon {
    width: 30px;
    height: auto;
}

/* Content Section */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.card {
    background-color: #fff;
    padding: 40px;
    border-radius: 35px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.card-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Input Container*/ 
.input-container {
    background-color: #5bbec0; /* Color de fondo */
    padding: 40px;             /* Aumentar el padding alrededor del textarea */
    border-radius: 30px;       /* Bordes redondeados */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;                /* Ancho del contenedor */      /* Asegura que no exceda el ancho del card */
    margin-bottom: 20px;       /* Espaciado inferior */
}

.input-field {
    width: 600px;
    height: 300px;
    padding: 50px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    outline: none;
    resize: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

/* Lightbulb Icon */
.lightbulb-icon img {
    width: 80px;
    height: 80px;
    transition: transform 0.2s;
}

.lightbulb-icon img:hover {
    transform: scale(1.1);
}

/* Confirm Button */
.confirm-button {
    background-color: #1c7ed6; /* Azul atractivo */
    color: white;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.confirm-button:hover {
    background-color: #1971c2;
    transform: scale(1.05);
}

.confirm-button:active {
    transform: scale(0.95);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* Estilo para la imagen de desafíos */
.desafios-image {
    width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Opcional: Para mantener el card alineado a la misma altura que la imagen */

.input-container {
  display: flex; 
  flex-direction: column; /* Coloca los elementos uno debajo del otro */
  align-items: center; /* Centra los elementos dentro del contenedor */
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

.sidebar{
  padding-top: 110px; 
}
