<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DESCRIPCION SOLUCION</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
    <link rel="stylesheet" href="/css/descripcionSolucion.css" />
  </head>
  <body>
    <input type="checkbox" id="menuToggle" class="menu-toggle" />

    <div class="sidebar" id="sidebar">
      <div class="logo">
        
      </div>
      <nav>
        <ul>
          <li>
            <div class="imagixicon">
              <img src="/images/imagix.png" alt="Idea Icon" />
            </div>
            <div class="card-client">
              <div class="user-picture">
                  <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                      <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                  </svg>
              </div>
              <p class="name-client" th:text="${proponente.nombre}"> Nombre Usuario
                  
                  </span>
              </p>
          </li>
        </ul>
      </nav>
      <button class="Btn logout">
        <div class="sign">
          <svg viewBox="0 0 512 512">
            <path
              d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
            ></path>
          </svg>
        </div>
      
        <div class="text">Cerrar Sesión</div>
        <img src="/images/boton-de-encendido-apagado.png" alt="Apgado Icon" />
      </button>
          </div>

    <div class="main-content">

      <label for="menuToggle" class="toggle-btn">
        <img src="/images/menu.png" alt="Menu Icon" class="menu-icon" />
      </label>
      <div class="content">

        <div class="card">
          <h2 class="card-title">
            Ingrese la descripcion de la solucion
          </h2>

          <!-- Formulario para enviar la descripción de la solución -->
          <form action="/proponente/descripcionSolucion" method="post">
            <div class="input-container">
              <textarea
                name="descripcionSolucion"
                class="input-field"
                placeholder="Descripción..."
                required
              ></textarea>
            </div>

            <div class="lightbulb-icon">
              <img src="/images/solucionP.png" alt="Idea Icon" />
            </div>

            <button type="submit" class="confirm-button">Continuar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
