<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar Proponentes</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/ingresarProponentes.css" />
    <script defer src="/js/proponentes.js"></script>
    <!-- JavaScript externo -->
  </head>
  <body>
    <input type="checkbox" id="menuToggle" class="menu-toggle" />

    <div class="sidebar" id="sidebar">
      <div class="logo">
        <img src="/images/imagix.png" alt="Imagix Logo" />
      </div>
      <nav>
        <ul>
          <li>
            <a href="retosEmpleado.html">
              <img
                src="/images/usuario.png"
                alt="Perfil Imagen"
                class="nav-icon"
              />
              <span class="link-text">Perfil</span>
            </a>
          </li>
        </ul>
      </nav>
      <button class="logout">
        <img
          src="/images/boton-de-encendido-apagado.png"
          alt="Icono Cerrar Sesión"
          class="logout-icon"
        />
        <span class="logout-text">Cerrar Sesión</span>
      </button>
    </div>

    <div class="main-content">
      <label for="menuToggle" class="toggle-btn">
        <img src="/images/menu.png" alt="Menu Icon" class="menu-icon" />
      </label>

      <div class="content">
        <div class="card">
          <h2 class="card-title">Ingresa los proponentes</h2>

          <form
            action="/proponente/subirProponentes"
            method="post"
            id="proponenteForm"
          >
            <div id="proponentes-container" class="input-container">
              <!-- Primer select de proponente -->
              <div class="proponente-select-wrapper">
                <select class="proponente-select" name="proponentesIds">
                  <option
                    th:each="proponente : ${proponentes}"
                    th:value="${proponente.id}"
                    th:text="${proponente.nombre}"
                  ></option>
                </select>
              </div>
            </div>

            <button
              type="button"
              class="add-proponent-button"
              onclick="agregarSelect()"
            >
              Añadir más proponentes +
            </button>

            <button type="submit" class="confirm-button">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
