<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Ideas</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/inicialGerente.css" />
</head>
<body>
    <input type="checkbox" id="menuToggle" class="menu-toggle" />

    <div class="sidebar" id="sidebar">
        <div class="logo">
            <img src="/images/imagix.png" alt="">
        </div>
        <nav>
            <div class="menu-container">
                <a class="boton_menu" href="/gerente/dashboard" style="background-color: #25ABE0; color: antiquewhite;">Dashboard</a><br>
                <a class="boton_menu" href="index.html" style="background-color: #AACF3F; color: antiquewhite;">Ideas</a><br>
                <a class="boton_menu" href="/gerente" style="background-color: #D61366; color: antiquewhite;">Inicio</a><br>
            </div>
            <ul>
                <li>
                    <div class="card-client">
                        <div class="user-picture">
                            <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                <path d="M224 256c70.7 0 128-57.31 128-128S153.3 0 96 128 153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3 448 381.6 370.4 304 274.7 304z"></path>
                            </svg>
                        </div>
                        <p class="name-client" th:text="${gerente.name}">Nombre Usuario</p>
                    </div>
                </li>
            </ul>
        </nav>        

        <button class="Btn" onclick="location.href='/login'">
            <div class="sign">
                <svg viewBox="0 0 512 512">
                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                </svg>
            </div>
            <div class="text">Cerrar Sesión</div>
        </button>
    </div>

    <div class="main-content">
        <div class="container mt-5">
            <h1 class="text-center mb-4">¿Qué buscas hacer hoy?</h1>
    
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-white bg-success mb-3">
                        <div class="card-header">Ideas Recientes</div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${aprobadas}">0</h5>
                        </div>
                    </div>
                </div>      
        </div>
        
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-lg" onclick="location.href='/promotor/ideas'">
                Ver Ideas
            </button>
        </div>
        

    </div>
</body>
</html>
