<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mostrarIdeas.css" />
    <title>Tabla de Ideas</title>
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <div class="logo">
        <img src="/images/imagix.png" alt="" />
      </div>
      <nav>
        <ul>
          <li>
            <div class="card-client">
              <div class="user-picture">
                <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M224 256c70.7 0 128-57.31 128-128S153.3 0 96 128 153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3 448 381.6 370.4 304 274.7 304z"
                  ></path>
                </svg>
              </div>
              <p class="name-client" th:text="${promotor.name}">
                Nombre Usuario
              </p>
            </div>
          </li>
        </ul>
      </nav>

      <button class="Btn" onclick="location.href='/login'">
        <div class="sign">
          <svg viewBox="0 0 512 512">
            <path
              d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
            ></path>
          </svg>
        </div>
        <div class="text">Cerrar Sesión</div>
      </button>
    </div>

    <div class="main-content">
      <form
        action="#"
        method="get"
        th:action="@{/promotor/ideas}"
        class="search-container"
      >
        <input
          type="text"
          name="search"
          placeholder="Buscar idea..."
          class="search-bar"
          th:value="${search}"
        />
        <button type="submit">Buscar</button>
      </form>

      <div class="table-container">
        <table class="ideas-table">
          <thead>
            <tr>
              <th>Nombre de la Idea</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="idea : ${ideas}">
              <td th:text="${idea.nombreIdea}">Nombre de la Idea</td>
              <td th:text="${idea.descripcion}">Descripción de la Idea</td>
              <td>
                <a
                  th:href="@{/promotor/idea/{id}(id=${idea.id})}"
                  class="view-icon"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                    class="eye-icon"
                  >
                    <path
                      d="M572.5 241.4c-1.6-1.7-40.4-41.9-103.5-83.7C416.2 134.3 360.6 112 288 112s-128.2 22.3-181 45.8C44 199.6 5.1 239.7 3.5 241.4c-4.7 5-4.7 12.2 0 17.2 1.6 1.7 40.4 41.9 103.5 83.7 52.8 23.5 108.4 45.8 181 45.8s128.2-22.3 181-45.8c63.1-41.8 101.9-82 103.5-83.7 4.7-5 4.7-12.2 0-17.2zM288 368c-44.2 0-80-35.8-80-80s35.8-80 80-80 80 35.8 80 80-35.8 80-80 80zm0-128c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48z"
                    />
                  </svg>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        id="back-button"
        class="back-button"
        onclick="window.location.href='/promotor'"
      >
        Volver
      </button>
    </div>
  </body>
</html>
