<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil del Proponente</title>
    <link rel="stylesheet" href="/css/perfil.css" />
    <script src="/js/perfil.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/images/imagix.png" alt="Logo Imagix" />
      </div>
    </header>

    <main>
      <div class="idea-icon">
        <img src="/images/Idea.png" alt="Idea Icon" />
      </div>
      <div class="details-container">
        <h2>Perfil del Proponente</h2>
        <table class="details-table">
          <tr>
            <th>Cédula</th>
            <td th:text="${proponente.cedula}">123456789</td>
          </tr>
          <tr>
            <th>Nombre</th>
            <td th:text="${proponente.nombre}">Juan Pérez</td>
          </tr>
          <tr>
            <th>Email</th>
            <td th:text="${proponente.email}">juan.perez@example.com</td>
          </tr>
          <tr>
            <th>Clave</th>
            <td>
              <div class="password-container">
                <span id="clave-oculta">••••••••</span>
                <span
                  id="clave-visible"
                  th:text="${proponente.clave}"
                  style="display: none"
                ></span>
                <button
                  type="button"
                  id="toggle-password"
                  class="reveal-button"
                >
                  <img
                    id="toggle-password-icon"
                    src="/images/show.png"
                    alt="Revelar"
                  />
                </button>
              </div>
            </td>
          </tr>

          <tr>
            <th>Ciudad</th>
            <td th:text="${proponente.ciudad}">Bogotá</td>
          </tr>
          <tr>
            <th>Teléfono</th>
            <td th:text="${proponente.telefono}">+57 123 456 7890</td>
          </tr>
          <tr>
            <th>Gerencia</th>
            <td th:text="${proponente.gerencia.nombre}">Gerencia General</td>
          </tr>
          <tr>
            <th>Área</th>
            <td th:text="${proponente.area.nombre}">Innovación</td>
          </tr>
          <tr>
            <th>Cargo</th>
            <td th:text="${proponente.cargo.nombre}">Analista</td>
          </tr>
        </table>
        <div class="action-buttons">
          <button
            class="back-button"
            onclick="window.location.href='/proponente'"
          >
            Volver
          </button>
        </div>
      </div>
    </main>

    <footer>
      <div class="contact-info">
        <div class="logo">
          <img src="/images/imagix.png" alt="Logo Imagix" />
        </div>
        <p>Tel. 3002223344</p>
        <p>Correo: imagix@gruponutresa.co</p>
      </div>
    </footer>
  </body>
</html>
