<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIS SOLUCIONES</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/solucionEmpleado.css" />
  </head>
  <body>
    <input type="checkbox" id="menuToggle" class="menu-toggle" />

    <div class="sidebar" id="sidebar">
      <div class="logo">
        
      </div>
      <nav>
        <ul>
          <li>
            <a href="reto">
              <img src="/images/retos.png" alt="Reto Imagen" class="nav-icon" />
              <span class="link-text">Retos</span>
            </a>
          </li>
          <li>
            <a href="solucion">
              <img
                src="/images/solucion.png"
                alt="Soluciones Imagen"
                class="nav-icon"
              />
              <span class="link-text">Soluciones</span>
            </a>
          </li>
        </ul>
      </nav>
      <button class="Btn"onclick="window.location.href='/login'">
        <div class="sign">
          <svg viewBox="0 0 512 512">
            <path
              d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
            ></path>
          </svg>
        </div>
        <div class="text">Cerrar Sesión</div>
      </button>
          </div>

    <div class="main-content">
      
      <div class="header">
        <select class="filter">
          <option value="">FILTRO</option>
          <option value="reto1">Solucion 1</option>
          <option value="reto2">Solucion 2</option>
        </select>
      </div>

      <h1 class="title">¡MIS SOLUCIONES!</h1>

      <div class="grid-container">
        <div class="reto-card">
          <h2 class="reto-title">Solución 1</h2>
          <div class="reto-content">
            <p>
              <strong>Descripción:</strong> Esta solución mejora la eficiencia
              del proceso de producción.
            </p>
            <p><strong>Reto Solucionado:</strong> Reto 34812</p>
          </div>
        </div>
        <div class="reto-card">
          <h2 class="reto-title">Solución 2</h2>
          <div class="reto-content">
            <p>
              <strong>Descripción:</strong> Solución para reducir costos en la
              cadena de suministro.
            </p>
            <p><strong>Reto Solucionado:</strong> RReto 43</p>
          </div>
        </div>
        <div class="reto-card">
          <h2 class="reto-title">Solución 3</h2>
          <div class="reto-content">
            <p>
              <strong>Descripción:</strong> Implementación de un nuevo sistema
              de marketing digital.
            </p>
            <p><strong>Reto Solucionado:</strong> Reto 5</p>
          </div>
        </div>
        <div class="reto-card">
          <h2 class="reto-title">Solución 4</h2>
          <div class="reto-content">
            <p>
              <strong>Descripción:</strong> Automación del proceso de control de
              calidad.
            </p>
            <p><strong>Reto Solucionado:</strong>Reto 3.</p>
          </div>
        </div>
        <div class="reto-card">
          <h2 class="reto-title">Solución 5</h2>
          <div class="reto-content">
            <p>
              <strong>Descripción:</strong> Desarrollo de un nuevo producto
              innovador.
            </p>
            <p><strong>Reto Solucionado:</strong>Reto 1</p>
          </div>
        </div>
        <div class="reto-card">
          <h2 class="reto-title">Solución 6</h2>
          <div class="reto-content">
            <p>
              <strong>Descripción:</strong> Mejora en el servicio al cliente
              mediante chatbots.
            </p>
            <p><strong>Reto Solucionado:</strong> Reto 1</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
